{% load static %}
{% extends 'ecom/base.html' %}


    <style>
        form{

            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            gap: 10px;
            background-color: grey;
        }
    </style>




    <form method="POST" action="">
        {% csrf_token %}

        <!-- <input type="text" placeholder="Name"> -->
        {{form.username}}

        <!-- <input type="text" placeholder="Email"> -->
        {{form.email}}
        <!-- <input type="text" placeholder="Password"> -->
        {{form.password1}}
        {{form.password2}}
        <input type="submit" value="Register Account">
        
    </form>


   


